@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato'), local('Lato'), url("../lato400.woff" /*tpa=http://zhangwenli.com/blog/font/lato400.woff*/) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url("../lato900.woff" /*tpa=http://zhangwenli.com/blog/font/lato900.woff*/) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url("../lato400i.woff" /*tpa=http://zhangwenli.com/blog/font/lato400i.woff*/) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: local('Lato Black Italic'), local('Lato-BlackItalic'), url("../lato900i.woff" /*tpa=http://zhangwenli.com/blog/font/lato900i.woff*/) format('woff');
}
